@font-face {
    font-family: 'MinecraftTen';
    src: url('../fonts/MinecraftTen.woff') format('woff');
}

@font-face {
    font-family: 'MinecraftFive';
    src: url('../fonts/MinecraftFive.woff2') format('woff2');
}

@font-face {
    font-family: 'MinecraftSeven';
    src: url('../fonts/MinecraftSeven.woff') format('woff');
}

@font-face {
    font-family: 'MinecraftTest';
    src: url('../fonts/MinecraftTest.woff') format('woff');
}

* {
    font-family: 'MinecraftTest';
}

.averageText {
    line-height: 2vw;
    letter-spacing: -1.25px;
    font-size: 1.7vw;
}

h1,
h2,
h3 {
    font-family: 'MinecraftTen';
}

h1 {
    font-size: 3vw;
}

[light] {
    color: white;
}
