@font-face {
    font-family: 'MinecraftTen';
    src: url('../fonts/MinecraftTen.woff') format('woff');
}

@font-face {
    font-family: 'MinecraftSeven';
    src: url('../fonts/MinecraftSeven.woff') format('woff');
}

h1,h2,h3 {
    font-family: 'MinecraftTen', sans-serif;
}
[light] {
    color: white;
}
